@CHARSET "ISO-8859-1";

#bottompanel {
	min-width: 1200px;
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: black;
}

#infoform {
	position: relative;
	top: 20px;
	left: 50px;	
}

#centerpanel {
	border: none;
	min-width: 1150px;
	width: 100%;
	height: calc(100% - 120px);
	position: absolute;
	top: 100px;
	left: 0px;
	background: #e6e6e6;
	overflow-y: auto;
	overflow-x: hidden;
}

#desc {
	resize: none;
}

iframe {
	border: 2px solid black;
	width: calc(100% - 10px);
	height: 500px;
	overflow: hidden;
}