@CHARSET "ISO-8859-1";

#centerpanel {
	position: absolute;
	top: 100px;
	width: 100%;
	min-width: 1200px;
	height: calc(100% - 100px);
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #e6e6e6;
}

.divtitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	background: black;
	color: white;
}

.list {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 100%;
	height: calc(100% - 30px);
	overflow-y: auto;
	overflow-x: hidden;	
}

.listentry {
	width: 100%;
	height: 30px;
	border: none;
	padding-top: 2px;
	padding-left: 10px;
	background: grey;
	font-size: 20px;
}

.listentry:hover {
	background: white;
}

.breaker {
	position: absolute;
	height: 50px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	top: 420px;
}

#createaquiz {
	position: absolute;
	top: 15px;
	width: 340px;
	border: none;
	background: grey;
	height: 50px;
	font-size: 30px;
	left: calc(50% - 342px);
}

#logintosee {
	position: absolute;
	top: 5px;
	line-height: 250%;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	border: none;
	background: green;
	height: 70px;
	font-size: 30px;
}

#homepage {
	position: absolute;
	top: 15px;
	width: 340px;
	border: none;
	background: grey;
	height: 50px;
	font-size: 30px;
	left: calc(50%  + 2px);
}

#createaquiz:hover ,#homepage:hover {
	background: green;
}

.quizzes {
	background: white;
	top: 80px;
	width: 320px;
	height: 400px;
}

 #recentquizzes {
	position: absolute;
	left: calc(50% + 260px);
}

#popularquizzes  {
	position: absolute;
	left:calc(50% - 70px);
}

#announcements {
	top: 80px;
	position: absolute;
	left: calc(50% - 580px);
	width: 500px;
	height: 400px;
	background: white;
}

.sortby {
	position: absolute;
	height: 20px;
	top: 30px;
	width: 100%;
	text-align:center;
	background: black;
	color: white;
}

#poplist {
	top: 50px;
}

#an {
	position:absolute;
	width: 600px;
	resize: none;
	top: 500px;
	left: calc(50% - 300px);
}
#makeAnn {
	position:absolute;
	width: 200px;
	height: 30px;
	top: 570px;
	left: calc(50% - 100px);
}
