@CHARSET "ISO-8859-1";

#centerpanel {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 100%;
	min-width: 1200px;
	height: calc(100% - 100px);
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}	

#notebox {
	position: absolute;
	top: 10px;
	left: calc(50% - 580px);
	width: 800px;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	background: blue;
}

#friendrequestbox {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 10px;
	left: calc(50% + 240px);
	width: 340px;
	height: 290px;
	background: blue;	
}

#challengebox {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 320px;
	left: calc(50% + 240px);
	width: 340px;
	height: 290px;
	background: blue;	
}

.note , .noteSeen , .challenge , .challengeSeen , .request , .requestSeen {
	width: 100%;
	height: 70px;
	background: green;
	color: white;
	overflow: hidden;
	font-size: 18px;
}

.note , .challenge , .request {
	background: grey;
	color: black;
}

.title {
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	text-align: center;
	font-size: 30px;
}