@CHARSET "ISO-8859-1";

#centerpanel {
	position: absolute;
	top: 100px;
	width: 100%;
	min-width: 1200px;
	height: calc(100% - 100px);
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #e6e6e6;
}

#sendchallenge {
	border: none;
	outline: 0;
	position: absolute;
	top: 3px;
	right: 2px;
	width: 180px;
	height: 40px;
	font-size: 15px;
	background: grey;
}

#sendchallenge:hover {background: green;}
.divtitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	background: black;
	color: white; 
}

#deletequiz {
	position: absolute;
	top: 103px;
	left: 5px;
	width: 160px;
	height: 40px;
	border: none;
	padding: 5px 5px;
	background: grey;
	font-size: 14px;
	font-weight: 500;
	color: White;	
}

.inf {
	position: absolute;
	top: 30px;
	left: 0px;
	width:100%;
	height: 20px;
	background: green;
}

.usrname, .timetaken, .scr {
	display: inline-block;
	width: 370px;
	height: 20px;
	color: white;
	font-size: 18px;
	line-height: 20px;
	padding-left: 4px;
	vertical-align: middle;
}

.scr, .timetaken {width: 50px;}

.list {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	overflow-y: auto;
	overflow-x: hidden;
}

.listentry {
	width: 100%;
	height: 30px;
	background: black;
	text-width: 300px;
	font-size: 20px;
}

#qname, #qdescription, #qauthor {
	widht: 800px;
	position: absolute;
	left: calc(50% - 400px);
}

#qname {
	top: 20px;
	height: 50px;
	font-size: 35px;
	font-weight: 500;
}

#qauthor {
	height: 30px;
	font-size: 25px;
	top: 70px;
	font-weight: 500;
}

#qdescription {
	font-size: 20px;
	top: 110px;
	font-weight: 400;
}

#topscores , #recentscores {
	position: absolute;
	width: 500px;
	height: 400px;
	top: 270px;
	left: calc(50% - 505px);
}

#recentscores {
	left: calc(50% + 5px);
}

.time {
	height: 30px; 
	width: 50px;
	color: yellow; 
	background: black;
	text-align: center;
	font-weight: 600;
	line-height: 30px;
	border: none;
	vertical-align: middle;
	display: inline-block;
}

.profile {
	height: 30px; 
	width: 380px;
	color: red; 
	background: grey;
	border: none;
	font-weight: 600;
	line-height: 30px;
	padding-left: 4px;
	vertical-align: middle;
	display: inline-block;
}

.score {
	height: 30px; 
	width: 50px;
	color: red; 
	background: black;
	text-align: center;
	border: none;
	font-weight: 600;
	line-height: 30px;
	vertical-align: middle;
	display: inline-block;
}

#startquiz {
	background: green;
	font-size: 30px;
	width: 200px;
	height: 50px;
	position: absolute;
	top: 210px;
	left: calc(50% - 100px);	
}
